/*---------------
TEXT
----------------*/
body {
	font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: url(bg.png);
	margin: 0 auto;
}

h2 {
	margin:10px;
	font-size:40px;
	text-align: center;
	text-shadow: 0px 2px 0 rgba(0,0,0,0.2);
}

/*-----------------
IMAGES
------------------*/

#bvlogo {
	margin:0px auto;
	width:400px;
}

.legitimizer-container {
	margin-left:auto;
	margin-right:auto;
}

/*-----------------
BOXES
------------------*/

.nav, .navtabs {
	width:300px;
	margin:0px auto;
}

#leaderboard {
	background: white;
	width:700px;
	margin: 20 auto;
	border: 1px solid #ccc;

}

.leader  {
	font-size: 30px;
	position:relative;
	right: 20px;
	display: block;
	/*background-color: #E6E6E6;*/
	height: 150px;
	padding:10px;
}

.ranking {
	
	font-size: 50px;
	float:left;
	position:relative;
	top:15px;
	margin-right:10px;
}

.picture {
	float:left;
	height:130px;
	width:130px;
	margin-right:3px;
}

.name {
	display: block;
	font:30px;
}

.score {
	display: block;
}

.quote {
	font-size:14px;
	font-style: italic;
}